body {
    color: black;
}

@media(max-width: 320px) {
    .carousel-inner{
        height: 130px;
    }
}

@media(min-width: 321px) {
    .carousel-inner{
        height: 150px;
    }
}

@media(min-width: 425px) {
    .carousel-inner{
        height: 160px;
    }
}

@media(min-width: 768px) {
    .carousel-inner{
        height: 260px;
    }
}

@media(min-width: 1024px) {
    .carousel-inner{
        height: 330px;
    }
}

@media(min-width: 1440px) {
    .carousel-inner{
        height: 400px;
    }
}

@media(min-width: 2560px) {
    .carousel-inner{
        height: 500px;
    }
}

@media(max-width: 576px) {
    .more-info {
        font-size: x-small;
    }

    html {
        font-size: 14px;
    }    
}

@media(min-width: 768px) {
    .nav-custom {
        margin-right: 20px;
    }
}

@media(max-width: 767px) {
    .nav-custom {
        border-top: 1px solid #e9bfbf;
    }
}

ul {
    margin-left : 5px !important;
    padding-left: 5px !important;
}

a.nav-link:hover {
    background-color: #8ec8f1;
}

footer {
    border-top: 1px solid #bc931f;
}

#chung-chi {
    position : fixed;
    top      : 0.5rem;
    right    : 0.5rem;
    max-width: 8%;
}

.carousel-item-custom {
    margin-top: 1.5em;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23005baa' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}
   
.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23005baa' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

.carousel-indicators .active {
    background-color: #005baa;
}

.h1-custom {
    font-size    : 1.7rem;
    margin-bottom: 40px;
    margin-top   : 0px;
}

#back-to-top {
    display : none;
    position: fixed;
    bottom  : 10px;
    right   : 10px;
    z-index : 99;
    cursor  : pointer;
    padding : 10px;
}

#back-to-top:hover {
    color: #555;
}

#zalo {
    position: fixed;
    bottom  : 60px;
    right   : 1px;
    z-index : 100;
    cursor  : pointer;
    padding : 10px;
}

.card-header {
    cursor: pointer;
}

.product-detail {
    margin-bottom: 15px;
}

tr:nth-child(even) {
    background: #e7e7e7;
}

.more-info {
    color      : #6c757d;
    padding    : 1px;
    left       : 10px;
    font-weight: normal;
    font-style : italic !important;
}

.an-gia-premium, .an-gia-scope{
    font-size: smaller;
}

.col-direction {
    width        : 1%;
    border-right : 1px solid Transparent !important;
    padding-right: 0px !important;
}

.premium {
    padding     : 0px;
    padding-left: 0px;
    margin-right: 10px;
}

.col-premium {
    padding-left: 10px !important;
}

.para {
    line-height: 30px;
}

.featurette-divider {
    margin-bottom: 30px;
    margin-top   : 30px;
}

.bvhp {
    color: #bc931f;
}